<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skull Boost</title>
</head>
    
<body>

    <div>
        <a class="nav" href="index.html"><img class="skull_size" src="home pictures/skull.png" alt="skull logo"></a>
        <p style="color: white;">SKULL BOOST</p>
    
        <div>
            <a class="customer_feedback" href="chat.html">Customer Feedback</a>
            <a class="about_us_size" href="about us.html">About Us</a>
            <a href="cart.html"><img class="cart_size" src="home pictures/cart.png" alt="cart logo"></a>
            <input class="search_size" type="text" placeholder="Search..">
            <i class="search-color fa fa-search"></i>
        </div>
    </div>
        
        <!-- Member -->
        <section>
            <h1>Meet Our Member</h1></div>
        </section>
        <div class="arrow-bottom"></div> 
        
        <section>
            <img class="weisiang" src="about us pictures/hulk.jpg" alt="weisiang" align="left"/>
            <article id="weisiang">
            <h1 style="margin-top: 1rem;">WEI SIANG LIM</h1>
            <h2>FOUNDER &#38 Chief Executive Officer (CEO) </h2>
            <p>
                Wei Siang founded and established the Epal Sbn. Bhd corporation around 2019 and play a role as leader to guide 
                all the subdivide departments in the company to cooperate with each other in order to create a better product 
                and brighter future for Epal.
            </p>
            <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/" class="instagram"><img src="about us pictures/instagram.png">   @Weisiang0000</a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="gmail"><img src="about us pictures/gmail2.png">  /Weisiangtarc.edu</a>    
            </li>
            </ul>
            </article>
        
        </section>
        <section class="member_info">
            <img class="wenyi" src="about us pictures/dom.jpg" alt="wenyi" align="right"/>
            <article id="wenyi">
            <h1>WEN YI CHAN</h1>
            <h2>EXECUTIVE DIRECTOR </h2>
            <p>
                Wen Yi as the director will lead the development department to design and implement the ideas or suggestions created 
                under discussion among the members. Other than that, Wen Yi is also in charge of manipulating and managing the day-to-day 
                operation of the company.
            </p>
            <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/" class="instagram"><img src="about us pictures/instagram.png">   @wenyi0000</a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="gmail"><img src="about us pictures/gmail2.png">     /wenyitarc.edu</a>    
            </li>
            </ul>
            </article>
        </section>
        
        <section class="member_info">
            <img class="yongcheng" src="about us pictures/simps2.jpg" alt="yongcheng" align="left"/>
            <article id="yongcheng">
            <h1>YONG CHENG PEH</h1>
            <h2>CREATIVE DIRECTOR </h2>
            <p>
                As the creative director, Yong Cheng will lead his teammates to rack their brains to figure out a brand new and creative 
                idea on invention and development of the latest product. Many unique and fresh components or features have been produced 
                as the outcome of his wise leadership and the cooperation of his members.
            </p>
            <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/" class="instagram"><img src="about us pictures/instagram.png">   @yongcheng0000</a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="gmail"><img src="about us pictures/gmail2.png">     /yongchengtarc.edu</a>    
            </li>
            </ul>
            </article>
        </section>
        
        </section>
        <section class="member_info">
            <img class="chenhan" src="about us pictures/catsmile.webp" alt="chenhan" align="right"/>
            <article id="chenhan">
            <h1>OOI CHEN HAN</h1>
            <h2>CHIEF OPERATING OFFICER </h2>
            <p>
                Chen Han fulfilled his responsibility as an operating officer by ensuring the committees and staff accomplish their daily 
                task and retrieve enhancement in their group project progress. Thus, the employees are stipulated to complete their daily 
                job to avoid receiving a specific “education ” speech from Chen Han.
            </p>
            <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/" class="instagram"><img src="about us pictures/instagram.png">   @chenhan0000</a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="gmail"><img src="about us pictures/gmail2.png">     /chenhantarc.edu</a>    
            </li>
            </ul>
            </article>
        </section>
        
        </section>
        
        <section class="member_info">
            <img class="szejun" src="about us pictures/johnny.png" alt="szejun" align="left"/>
            <article id="szejun">
            <h1>SZE JUN LIM</h1>
            <h2>STUDIO MANAGER </h2>
            <p>
                As the studio manager of this organization, Sze Jun is responsible for managing our daily scheduling of operation and invoicing 
                from clients. Also, his job description includes employing the new staff and training them in order to provide a better service 
                and develop more advanced devices to our client.
            </p>
            <ul class="socialmedia">
            <li>
                <a href="https://www.instagram.com/" class="instagram"><img src="about us pictures/instagram.png">   @szejun0000</a>
            </li>
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox" class="gmail"><img src="about us pictures/gmail2.png">     /szejuntarc.edu</a>    
            </li>
            </ul>
            </article>
        </section>

        <hr>
</body>
