<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
</head>
<body style="background-color: aqua;">  
        <!-- Member -->
        <section>
            <h1>Meet Our Member</h1></div>
        </section>
        
        <section>
            <article>
            <h1 style="margin-top: 1rem;">WEI SIANG LIM</h1>
            <h2>FOUNDER &#38 Chief Executive Officer (CEO) </h2>
            <p>
                Wei Siang founded and established the Epal Sbn. Bhd corporation around 2019 and play a role as leader to guide 
                all the subdivide departments in the company to cooperate with each other in order to create a better product 
                and brighter future for the company.
            </p>
            </article>
        </section>

        <section>
            <article>
            <h1>WEN YI CHAN</h1>
            <h2>EXECUTIVE DIRECTOR </h2>
            <p>
                Wen Yi as the director will lead the development department to design and implement the ideas or suggestions created 
                under discussion among the members. Other than that, Wen Yi is also in charge of manipulating and managing the day-to-day 
                operation of the company.
            </p>
            </article>
        </section>
        
        <section>
            <article>
            <h1>SZE JUN LIM</h1>
            <h2>STUDIO MANAGER </h2>
            <p>
                As the studio manager of this organization, Sze Jun is responsible for managing our daily scheduling of operation and invoicing 
                from clients. Also, his job description includes employing the new staff and training them in order to provide a better service 
                and develop more advanced devices to our client.
            </p>
            </article>
        </section>

        <form action="/" autocomplete="on" method = "GET">
            <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Back To Home Page</button><br><br>
        </form>

        <hr>
</body>
